
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="../../css/nav.css"> 
     <link rel="stylesheet" href="../../css/addmovie.css">
</head>
<body>
    {{>navbar}}

    <div class="bg-img44">
       <div  class="containerr">
           
          
              <form action="/addmovie" method="POST">
            
                <h1 style="color: crimson;">Add New Movie</h1>
           
                                    
                                    <div class="col-sm-12">
                                            <label style="font-size: medium;font-family:Georgia, 'Times New Roman', Times, serif;color:#bbadad">
                                        <div class="form-group ">
                                            <label>Name:</label>
                                            <input type="text"  class="form-control" size="50" placeholder="Movie Name *"  name="name" />
                                        </div>
                                        <input type="submit" style="font-size: large;" class="btn-in"  value="Register"/>
                                   </label>
                                    </div>
                  </form>
            </div>
            
</div>


</body>
</html>
