<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {{>header}}
    <style>
            h1{
                position: absolute;
                top: 10%;
                left: 40%;
                text-align: center;
               
               
               }
               .img{
                    background-image: url("../img/the-amazing-spider-man-2.jpg");
                    min-height: 700px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
               }
 </style>
  
</head>
{{>navbar}}
   
<body>
<div class="img">
    <div style="background-color: rgb(85, 81, 85);height:100px">
            <h1 style="font-size: 60px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;left:270px;color:rgb(15, 14, 15)">WELCOME TO MOVIE HUB</h1>
     </div>
         <div style="width: 100%;margin-top:0%">
              
                <div style="margin-left: 50%;height:380px;;border-style:solid;border-width:20px;border-color:rgb(165, 146, 146)">
                    <a class="nav-link" href="/user">  
                        <img src="../../img/movie-vector-trendy-banner_36298-505.jpg" width="620" height="325" >
                        <div style="position: absolute;top:68%;left:77%;transform:translate(-50%,-50%);font-size:60px;background-color:rgb(14, 13, 13);color:rgb(206, 194, 194);">MovieList</div>
                    </a>
                </div>
                <div style="width: 50%;height:380px;border-style:solid;border-width:20px;border-color:rgb(165, 146, 146)">
                    <a class="nav-link" href="/addcomment">
                        <img src="../../img/wallpaper2you_147360.jpg" width="620" height="325" >
                        <div style="position: absolute;top:126%;left:25%;transform:translate(-50%,-50%);font-size:60px;background-color:rgb(12, 11, 12);color:rgb(206, 194, 194);">AddComment</div>
                    </a>
                </div>
            </div>
           
        
</div>
</body>
</html>