<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="row" style="height: 76px;background-color: rgb(130, 136, 136);">
        <div class="col-sm-12">
               <h1 class="tm-banner-title" style="text-align:center;">Find <span class="tm-yellow-text">The Best</span>Movie Trailer</h1>
        </div>
    </div>
 <div class="row">
    <div class="col-sm-4" style="background-color: brown;">
       <iframe style="margin-top:30px;margin-left: 7px;" width="420" height="345" src="https://www.youtube.com/embed/aSiDu3Ywi8E" frameborder="0" allowfullscreen >
        </iframe>
    </div>
    <div class="col-sm-4" style="background-color: rgb(160, 80, 80);">
     <iframe style="margin-top:30px;margin-left: 7px;" width="420" height="345" src="https://www.youtube.com/embed/ybji16u608U" frameborder="0" allowfullscreen>
        </iframe>
    </div>
     <div class="col-sm-4" style="background-color: brown;">
       <iframe style="margin-top:30px;margin-left: 7px;" width="420" height="345" src="https://www.youtube.com/embed/kYeGOBiOQK0" frameborder="0" allowfullscreen>
        </iframe>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color: brown;">
       <iframe style="margin-top:30px;margin-left: 7px;" width="420" height="345" src="https://www.youtube.com/embed/qSqVVswa420" frameborder="0" allowfullscreen>
        </iframe>
    </div>
    <div class="col-sm-4" style="background-color: rgb(160, 80, 80);">
     <iframe style="margin-top:30px;margin-left: 7px;" width="420" height="345" src="https://www.youtube.com/embed/TPonEy8KjrE" frameborder="0" allowfullscreen>
        </iframe>
    </div>
     <div class="col-sm-4" style="background-color: brown;">
       <iframe style="margin-top:30px;margin-left: 7px;" width="420" height="345" src="https://www.youtube.com/embed/EfxU3M47jTQ" frameborder="0" allowfullscreen>
        </iframe>
    </div>
    </div>
     <div class="row">
        <div class="col-sm-4" style="background-color: brown;">
       <iframe style="margin-top:30px;margin-left: 7px;" width="420" height="345" src="https://www.youtube.com/embed/JsnzZF0_13I" frameborder="0" allowfullscreen>
        </iframe>
    </div>
    <div class="col-sm-4" style="background-color: rgb(160, 80, 80);">
     <iframe style="margin-top:30px;margin-left: 7px;" width="420" height="345" src="https://www.youtube.com/embed/NTe4ot1ppeE" frameborder="0" allowfullscreen>
        </iframe>
    </div>
     <div class="col-sm-4" style="background-color: brown;">
       <iframe style="margin-top:30px;margin-left: 7px;" width="420" height="345" src="https://www.youtube.com/embed/1Uog4AeVdIk" frameborder="0" allowfullscreen>
        </iframe>
    </div>
    </div>



  
</body>
</html>